NODE_ENV=development
POST=5000

MONGO_URI=mongodb+srv://sher123:sher123@burki.taeksqu.mongodb.net/devcamper?retryWrites=true&w=majority
GEOCODER_PROVIDER=mapquest
GEOCODER_API_KEY=4g4nVpw2yVza4IBpr88X2zhlDVW9iZnQ